{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <title>{{ config.title }} {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/global.css' %}" type="text/css">
  </head>
  <body>
    {% include 'base/_includes/header.html' %}

    <div class="container">

      <header>
        <div class="header__logo">
          <a href="/">
            <img src="/static/img/logo.png" alt=""/>
          </a>
        </div>
      </header>


      <div style="min-height: 800px">
        {% include 'base/_includes/menu.html' %}
        <div class="row">
          <div class="col-xs-12">
            {% block content %}
              {% include "base/_includes/home_content.html" %}
            {% endblock content %}
          </div>
        </div>
      </div>

    </div>

    {% include 'base/_includes/footer.html' %}

    <script src="{% static 'js/jquery-1.11.3.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/global.js' %}" type="text/javascript" charset="utf-8"></script>
  </body>
</html>


