{% extends "base/home.html" %}
{% load lib %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
{% trans 'My Bag' %}
{% endblock title %}

{% block content %}
<h2>{% trans 'My Bag' %}</h2>
{% if basket.count > 0 %}
  <ul class="basket__product-list list-group">
      {% for bitem in basket.skus.values %}
      <li class="list-group-item">
        <div class="row">
          {{ bitem.sku.product | smprimage:'hidden-xs img-responsive col-sm-3 col-md-2' | safe }}
          <div class="col-xs-8 col-sm-7 col-md-8">
            <span class="product__quantity">{{bitem.quantity}}x </span>
            {{bitem.sku.product.title}}
          </div>
          <div class="col-xs-4 col-sm-2 text-right">
            {{bitem.price}} €
          </div>
          {% if bitem.sku.attributes.keys %}
          <div class="col-xs-9 col-md-10">
            <small class="product__sku-attributes">
              {{ bitem.sku.attributes | filter_dict:"color,size" | join:", " }}
              <span class="product__sku">(Sku: {{bitem.sku.sku}})</span>
            </small>
          </div>
          {% endif %}
          <div class="col-xs-9">
            <a href="{% url 'account:basket'  %}?sku={{bitem.sku.sku}}&quantity=0" class="product__delete sku_{{bitem.sku.sku}}">{% trans 'delete' %}</a>
          </div>
        </div>
      </li>
      {% endfor %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-push-3 col-md-push-2 col-xs-8 col-sm-7 col-md-8">
            {% trans 'Total' %}:
          </div>
          <div class="col-sm-push-3 col-md-push-2 col-xs-4 col-sm-2 text-right">
            {{basket.price}} €
          </div>
        </div>
    </li>
  </ul>
  <a href="#comprar" class="btn btn-primary col-xs-12 col-sm-auto pull-right">Comprar</a>
{% else %}
  <div class="basket__empty-list">
    {% trans "There're no products in the bag" %}
  </div>
{% endif %}
{% endblock content %}
