{% extends "base/home.html" %}
{% load lib %}
{% load i18n %}

{% block title %}
{% trans 'Login' %}
{% endblock title %}

{% block content %}
<div class="row">
  <div class="login__form col-xs-12 col-sm-6">
    <h2>{% trans 'Login' %}</h2>
    <form role="form" action="{% url 'account:login' %}" method="POST">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% for field in form %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
          {{ field | label_with_classes:"control-label" }}
          {{ field | field_with_classes:"form-control" }}
          {% for error in field.errors %}
            <span class="help-block text-right">{{error}}</span>
          {% endfor %}
        </div>
      {% endfor %}
      <p><input class="btn btn-primary col-xs-12 col-sm-auto" type="submit" value="{% trans 'Login' %}" name="login" id="login"></p>
    </form>

  </div>
  <div class="signup__form col-xs-12 col-sm-6">
    <h2>{% trans 'Sign Up' %}</h2>
    <form role="form" action="{% url 'account:login' %}" method="POST">
      {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in signup_form %}
          <div class="form-group {% if field.errors %}has-error{% endif %}">
            {{ field | label_with_classes:"control-label" }}
            {{ field | field_with_classes:"form-control" }}
            {% for error in field.errors %}
              <span class="help-block text-right">{{error}}</span>
            {% endfor %}
          </div>
        {% endfor %}
        <p><input class="btn btn-primary col-xs-12 col-sm-auto" type="submit" value="{% trans 'SignUp' %}" name="signup" id="signup"></p>
    </form>
  </div>
</div>
{% endblock content %}
