{% extends "base/home.html" %}
{% load lib %}

{% block title %}
My Account
{% endblock title %}

{% block content %}
  <div class="myaccount__form row">
    <div class="col-xs-12">
      <h2>My Details</h2>
    </div>
    <div class="col-xs-12 col-sm-6">
      <form role="form" action="{% url 'account:myaccount' %}" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in myaccount_form %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
          {{ field | label_with_classes:"control-label" }}
          {{ field | field_with_classes:"form-control" }}
          {% for error in field.errors %}
          <span class="help-block text-right">{{error}}</span>
          {% endfor %}
        </div>
        {% endfor %}
        <p><input class="btn btn-primary col-xs-12 col-sm-auto pull-sm-right" type="submit" value="Save" name="update" id="update"></p>
      </form>
    </div>

  </div>
{% endblock content %}
