{% load i18n %}
<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5 list-unstyled">
        <h4 data-toggle="collapse" data-target="#customer_care">{% trans 'CUSTOMER CARE' %} <i class="hidden-sm hidden-md hidden-lg caret"></i></h4>
        <ul id="customer_care" class="list-unstyled collapse">
          <li><a href="#">{% trans 'SIZE GUIDE' %}</a></li>
          <li><a href="#">{% trans 'CONTACT US' %}</a></li>
          <li><a href="#">{% trans 'DELIVERY & RETURNS' %}</a></li>
          <li><a href="#">{% trans 'FAQ' %}</a></li>
          <li><a href="#">{% trans 'TERMS &amp; CONDITIONS' %}</a></li>
          <li><a href="#">{% trans 'GIFT CARD' %}</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-5">
        <h4 data-toggle="collapse" data-target="#more_about_us">{% trans 'MORE ABOUT US' %} <i class="hidden-sm hidden-md hidden-lg caret"></i></h4>
        <ul id="more_about_us" class="list-unstyled collapse">
          <li><a href="#">{% trans 'ABOUT US' %}</a></li>
          <li><a href="#">{% trans 'PRIVACY POLICY' %}</a></li>
          <li><a href="#">{% trans 'COOKIES' %}</a></li>
          <li><a href="#">{% trans 'ACCESSIBILITY' %}</a></li>
          <li><a href="#">{% trans 'SITEMAP' %}</a></li>
          <li><a href="#">{% trans 'CAREERS' %}</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-2 social-media__group">
        <h4>{% trans 'Follow Us' %}</h4>
        <a href="#" class="social-media__icon"><i class="fa fa-facebook-official"></i></a>
        <a href="#" class="social-media__icon"><i class="fa fa-twitter-square"></i></a>
        <a href="#" class="social-media__icon"><i class="fa fa-pinterest-square"></i></a>
        <a href="#" class="social-media__icon"><i class="fa fa-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>
