{% load i18n %}

<div class="header__links">
  <div class="container">
    <ul class="row list-inline">
      {% if user.is_authenticated %}
      <li class="header__login dropdown">
        <a class="dropdown-toggle" href="{% url 'account:myaccount' %}">{% trans 'My Account' %} <span class="hidden-xs caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'account:myaccount' %}">{% trans 'My Details' %}</a></li>
          <li><a class="account__logout-button" href="{% url 'account:logout' %}">{% trans 'Logout' %}</a></li>
        </ul>
      </li>
      {% else %}
      <li class="header__login ">
        <a href="/account/login">{% trans 'Login' %}</a>
      </li>
      {% endif %}

      <li class="header__minibasket dropdown">
        {% include "base/_includes/minibasket.html" %}
      </li>
      <li class="language__form">
        {% include "base/_includes/language.html" %}
      </li>
    </ul>
  </div>
</div>
