{% load i18n %}
{% load staticfiles %}

<h3 class="text-right">{% trans 'For those romantics who love to daydream' %}</h3>
<ul class="list-unstyled row">
  {% for product in hero_products %}
  <li class="product col-xs-6 col-sm-3">
    <a class="thumbnail" href="{% url 'product:details' product.pid %}">
      <div class="product__image-wrap">
      {% with 'images/thumbs/'|add:product.attributes.image|add:'_1_1_1.jpg' as image_static %}
        <img class="img-responsive" src="{% static image_static %}" alt=""/>
      {% endwith %}
      </div>
    </a>
  </li>
  {% endfor %}
</ul>

<h3>{% trans 'For the party goers' %}</h3>
<ul class="list-unstyled row">
  {% for product in hero_products_2 %}
  <li class="product col-xs-6 col-sm-3">
    <a class="thumbnail" href="{% url 'product:details' product.pid %}">
      <div class="product__image-wrap">
        {% with 'images/thumbs/'|add:product.attributes.image|add:'_1_1_1.jpg' as image_static %}
          <img class="img-responsive" src="{% static image_static %}" alt=""/>
        {% endwith %}
      </div>
    </a>
  </li>
  {% endfor %}
</ul>
