<div class="navbar navbar-default row">
  <button type="button" class="navbar-toggle collapsed navbar-left" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
    {% for category in CATEGORY_LIST %}
    <li class="dropdown main-menu__dropdown-toggle"><a data-toggle="dropdown" data-taget="#category_{{category.catid}}" class="dropdown-toggle">{{ category.title }}
        <i class="hidden-xs caret"></i>
      </a>
      {% if category.children_categories.count %}
        <ul class="dropdown-menu" id="category_{{category.catid}}">
          {% for subcat in category.children_categories.all %}
          <li><a href="{% url 'category:list' subcat.catid %}">{{ subcat.title }}</a>
          {% endfor %}
        </ul>
      {% endif %}
      </li>
    {% endfor %}
    </ul>
  </div>
</div>

