{% load i18n %}
{% load lib %}
{% load staticfiles %}

<a class="header__minibasket__link" href="{% url 'account:basket' %}">
  {% blocktrans count counter=basket.count %}
  My Bag ({{counter}} Item)
  {% plural %}
  My Bag ({{counter}} Items)
  {% endblocktrans %}
  {% if basket.count %} <span class="hidden-xs caret"></span>{% endif %}
</a>

{% if basket.count %}
<ul class="minibasket dropdown-menu row">
  {% for item in basket.skus.values %}
  {% with item.sku.product as product %}
  <li class="col-xs-12">
    <a class="row nopadding" href="{% url 'product:details' product.pid %}">
      {{ product | smprimage:'img-responsive col-xs-3' | safe }}
      <span class="col-xs-6">{{item.quantity}}x {{product.title}}</span>
      <span class="col-xs-3 text-right">{{ item.price }} €</span>
      {% if item.sku.attributes.keys %}
      <small class="col-xs-9 sku_attributes">
        {{ item.sku.attributes | filter_dict:"color,size" | join:", " }}
      </small>
      {% endif %}
    </a>
  </li>
  {% endwith %}
  {% endfor %}
  <li class="minibasket-total col-xs-12">
    <div class="row">
      <h5 class="col-xs-6 col-xs-push-3">Total:</h5> <h5 class="col-xs-push-3 col-xs-3 text-right">{{basket.price}} €</h5>
    </div>
  </li>
  <li class="col-xs-12">
    <div class="row">
      <div class="col-xs-9 col-xs-push-3">
        <button href="#comprar" class="btn btn-primary col-xs-12 pull-right">Comprar</button>
      </div>
    </div>
  </li>
</ul>
{% endif %}
