{% extends "base/home.html" %}

{% load i18n %}
{% load staticfiles %}
{% load lib %}

{% block title %}{{ product.title }}{% endblock title %}

{% block content %}
{% load lib %}
<div class="col-xs-12 col-sm-5 pull-right">
  <h2 class="product__title">{{ product.title }}</h2>
  <p class="product__description">{{ product.description }}</p>
</div>
<div class="col-xs-12 col-sm-7 pull-left form-group">
  {{ product | lgprimage:'img-responsive' | safe }}
</div>
<div class="product__add-basket col-xs-12 col-sm-5 pull-right">
  <form role="form" action="{% url 'account:basket' %}" method="post" accept-charset="utf-8">
    {% csrf_token %}

    <div class="form-group">
      <select class="form-control" name="sku">
        {% for sku in skus %}
        <option type="text" value="{{sku.sku}}">{{ sku.attributes | filter_dict:"color,size" | join:" / " | default:sku.sku }} - {{sku.price}}€</option>
        {% comment %}
          {{ sku.attributes | filter_dict:["color"] | join:" / " | default:sku.description | default:sku.sku }} - {{sku.price}}€
        {% endcomment %}
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="quantity">{% trans 'Quantity' %}:</label>
      <select name="quantity" class="form-control">
        {% for qnt in quantities %}
          <option type="text" value="{{qnt}}">{{qnt}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <input type="submit" name="submit" value="{% trans 'Add to Cart' %}" class="btn btn-primary btn-large product__add-to-cart"></p>
    </div>
  </form>
</div>

{% endblock content %}
