{% extends "base/home.html" %}

{% load lib %}
{% load staticfiles %}

{% block title %}
{{ list.title }}
{% endblock title %}

{% block content %}
  <h2>{{list.title}}</h2>
  <ul class="list-unstyled">
  {% for product in list.product_set.all %}
    <li class="product col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a class="thumbnail" href="{% url 'product:details' product.pid %}">
        <div class="product__image-wrap">
          {{ product | smprimage:'img-responsive' | safe }}
        </div>
        <div class="text-center product-list__product-title">{{ product.title }}</div>
      </a>
    </li>
  {% endfor %}
  </ul>
{% endblock content %}
