.header__links {
  text-align: right;
  background: #F8F8F8;
  margin-bottom: 0;
}
.nopadding {
  padding: 0 !important;
}
.header__links a {
  padding: .7em .3em;
  display: inline-block;
}

.minibasket {
  margin-left: -150px;
  width: 400px;
  padding: 1em;
}
.minibasket a {
    white-space: initial !important;
}
.minibasket .sku_attributes {
  display: block;
}
@media(min-width: 768px) {
  .content {
    padding: 1em;
    max-width: 1280px;
    margin: 0 auto;
  }
}
.product-list__product-title {
  margin-top: 1em;
  font-size: .8em;
  margin-top: .5em;
  min-height: 3.3em;
  line-height: 1;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
}
.thumbnail {
  border: none;
  margin-bottom: .8em;
}

.navbar-toggle.navbar-left {
  float: left;
  margin-left: 10px;
}
.product__image-wrap {
  position: relative;
}

.product__title {
  margin-top: 0;
}

.product__alt-image {
  position: absolute;
  left: 0;
  top: 0;
}

footer {
  background: #F8F8F8;
  text-align: center;
}

.social-media__icon {
  line-height: 1;
  margin: .1em;
  display: inline-block;
  font-size: 2.6em;
}
.social-media__group {
  text-align: center;
}
.navbar-nav .dropdown-toggle {
  cursor: pointer;
}

@media (min-width: 0) {
  .col-xs-auto { width: auto; }
}
@media (min-width: 768px) {
  footer { padding: 2em 0; text-align: left; }
  footer .collapse, footer .collapsing { height: auto!important; display: block;  }
  .col-sm-auto { width: auto; }
  .header__links .dropdown:hover .dropdown-menu {
    display: block;
  }
}
@media (min-width: 992px) {
  .col-md-auto { width: auto; }
  .social-media__group { padding: 0 2em; }
}
@media (min-width: 1200px) {
  .col-lg-auto { width: auto; }
  .social-media__group { padding: 0 3em; }
}

